

<div class="wrapper form-size">

	<!-- mini nav bar -->
	<header class="nav-header-form">
		<p><a href="/#/">
			ALL
		</a></p>
		<a href="/#/myposts">
			<p>MY POSTS</p>
		</a>
		<a href="/#/post">
			<p>NEW POST</p>
		</a>
		<a href="/#/login">
			<p>LOGIN</p>
		</a>
		<a href="/#/register">
			<p>REGISTER</p>
		</a>
		<a href="/#/">
      		<p>LOG OUT</p>
    	</a>
	</header>


	<form class="black-text border-top">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email Address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<div class="wrapper black-text form-size">
	<h4>To Do:</h4>
	<li>Upon clicking button, user is redirected to "myPosts"</li>
</div>
