
<div class="wrapper">

  <div ng-repeat="(key, value) in posts">
    <div class="row row-style">
  			<div class="col column">

          <div class="post-title">
  				  <a href="{{value.url}}"><h3>{{value.title}}</h3></a>
          </div>

<!-- up/down votes -->
          <div class="voting-arrows">

               <i title="Up Votes" ng-click="thumbsUp(key, value)" class="fa fa-arrow-circle-up fa-2x"></i>

            <br>
            <i title="Down Votes" ng-model="counter" ng-click="thumbsDown(key, value)" class="fa fa-arrow-circle-down fa-2x"></i>

            <div class="vote-counter">
            {{value.counter}}
            </div>

          </div> <!-- end vote -->

<!-- user post image -->
  				<img ng-src="{{value.img}}">

<!-- user post description -->
          <div class="post-description">
            <a href="{{value.description}}"><p class="post-description">{{value.description}}</p></a>
          </div>


  			</div>
  		</div>
  	</div>

</div>













