<h4>"My Posts" page, where users posts will show up when they log in</h4>

<div>



</div>


<ul>
<!--   <li ng-repeat="post in posts">
 -->  	<div ng-repeat="(key, value) in posts">
  		<div class="row">
  			<div class="col-md-4">

  				<a href="{{value.url}}">{{value.title}}</a>

  				<img ng-src="{{value.img}}">

<!-- up/down votes -->

  				  <i title="Up Votes" ng-click="thumbsUp(key, value)" class="fa fa-arrow-circle-up fa-2x"></i>
            {{value.counter}} {{key}}
				  <br>
				  <i title="Down Votes" ng-click="thumbsDown(key, value)" class="fa fa-arrow-circle-down fa-2x"></i>
				  <br>Vote: {{vote}}


  			</div>
  		</div>
  	</div>
<!--   </li>
 -->
