<h4>This is the New Post page where users will submit a new post.</h4>

<form ng-submit="makeNewPost()">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input ng-model="titleTextBox" type="text" class="form-control" id="exampleInputEmail1" placeholder="">
  </div>


  <div class="form-group">
    <label for="exampleInputPassword1">URL</label>
    <input ng-model="urlTextBox" type="text" class="form-control" id="exampleInputPassword1" placeholder="">
  </div>


  <div class="form-group">
    <label for="exampleInputPassword1">Image URL</label>
    <input ng-model="imageUrlTextBox" type="text" class="form-control" id="exampleInputPassword1" placeholder="">
  </div>
  <div class="form-group">

  <button  type="submit" class="btn btn-default">Submit</button>
</form>
